<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
	<connectionStrings>
		
		<add name="CCEscalonaControlEscolar" connectionString="Data Source=.;Initial Catalog=CCEscalonaControlEscolar;Persist Security Info=True;User ID=sa;Password=pass@word1"
		  providerName="System.Data.SqlClient" />
		<add name="CEscalonaProgramacionNCapasEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=CEscalonaProgramacionNCapas;user id=sa;password=pass@word1;multipleactiveresultsets=True;application name=EntityFramework&quot;"
		  providerName="System.Data.EntityClient" />
		<add name="DL.Properties.Settings.CCEscalonaControlEscolarConnectionString"
		  connectionString="Data Source=.;Initial Catalog=CCEscalonaControlEscolar;User ID=sa;Password=pass@word1"
		  providerName="System.Data.SqlClient" />
		<add name="CCEscalonaControlEscolar" connectionString="Data Source=.;Initial Catalog=CCEscalonaControlEscolar;Persist Security Info=True;User ID=sa;Password=pass@word1" providerName="System.Data.SqlClient" />
		<add name="IEspinozaProgramacionNCapasGM2023Entities" connectionString="metadata=res://*/IEspinozaProgramacionNCapasGM2023.csdl|res://*/IEspinozaProgramacionNCapasGM2023.ssdl|res://*/IEspinozaProgramacionNCapasGM2023.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=IEspinozaProgramacionNCapasGM2023;persist security info=True;user id=sa;password=pass@word1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
